CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_DEVICE_WIFI_SSID="502"
CONFIG_DEVICE_WIFI_PASSWORD="20010329"

CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=8
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32
CONFIG_ESP_WIFI_TX_BUFFER_TYPE=1
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=32

CONFIG_LWIP_MAX_SOCKETS=8
CONFIG_LWIP_SO_RCVBUF=y

CONFIG_FREERTOS_HZ=1000

CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_DEVICE_SERVER_HOST="192.168.1.28"
CONFIG_DEVICE_SERVER_PORT="8000"
CONFIG_DEVICE_AGENT_ID="b96d105e-1d43-4c7a-824d-d8e715bb19c8"
